<div class="container-banner" id="home">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 parrafo">
         <h1> 
          <i class="fa-solid fa-chevron-left"></i>
          Developer fullstack<i class="fa-solid fa-chevron-right"></i>
          </h1>
          <h3 class="subtitulo"> Freelance</h3>
          <p class="descripcion">Diseño y desarrollo sitio web de fácil acceso, atractiva, amigable, que cubra las
            necesidades de los clientes y cumpla los objetivos de negocio (vender) y dar a conocer su marca.</p>
             <a class="boton" href="#proyectos">Proyectos</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5  text-center">
        <img src="assets/img/banner2.png" class="imagen" alt="Akseweb">
      </div>
    </div>
</div>