<nav class="nav navbar navbar-expand-lg bg-white">

  <div class="logo">
    <a class="navbar-brand" href="#home">
      <img src="assets/img/logo.png" alt="Akseweb" width="70" height="70">
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
      <li class="nav-item">
        <a class="nav-link" href="#acerca">Acerca de mi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skill">Skill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Hobbies">Hobbies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#educacion">Formación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#proyectos">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacto">Contactos</a>
      </li>
    </ul>
  </div>
</nav>